name: API Tests - Newman Login Data Driven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  newman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Newman
        run: npm install -g newman

      - name: Debug workspace
        run: |
          pwd
          ls -R

      - name: Run Newman Login Data Driven Tests
        working-directory: ${{ github.workspace }}
        run: |
          newman run collections/Login_DataDriven.postman_collection.json \
            -e environments/DEV.postman_environment.json \
            -d data/login_data.csv

